<!-- Sidebar navigation-->
<nav class="sidebar-nav">
    <ul id="sidebarnav" class="p-t-30">
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="empleados.html" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Empleados</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="fichajes.html" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Fichajes</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="recibos.html" aria-expanded="false"><i class="mdi mdi-file-document"></i><span class="hide-menu">Recibos</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="vacaciones.html" aria-expanded="false"><i class="mdi mdi-calendar"></i><span class="hide-menu">Vacaciones</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="charts.html" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Reportes</span></a></li>
        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="config.html" aria-expanded="false"><i class="mdi mdi-cog"></i><span class="hide-menu">Configuración</span></a></li>
    </ul>
</nav>
<!-- End Sidebar navigation -->


